

<main class="principal"> <!-- mt-5 2 absolute  texto-superpuesto  -->
    <header>
            <div class="card-header">   <!--SEO, optimización para motores de búsqueda (Search Engine Optimization)  rounded-circle   -->
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-sm" style="width: 150px; display:block;">     
                <h3 class="text-uppercase text-center p-4"></h3>
            </div>
    </header>


    <style>

        .principal {
            background-color: rgb(238, 244, 248); /* Establece el color de fondo */
        }

        .container {
            position: relative;
            align-items: center; /* Centra verticalmente el contenido */
            justify-content: center; /* Centra horizontalmente el contenido */
            border-radius: 10px; /* Bordes redondeados de 10px */
            border: 2px solid grey; /* Borde sólido de color gris */
            margin-bottom: 20px;
            /* height: 100vh;  Opcional: centra verticalmente la imagen en toda la página */
        }

        .imagen-con-opacidad {
            opacity: 0.3;
        }
/* opacity: 0.25; */
        .texto-superpuesto {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(0, 0, 0);
            font-size: 18px;
            text-align: center;
        }

        .div-col {
            max-width: 100%;
            width: 900px;
            text-align: center;
            /* background-color: #fda2a2;
            Personaliza otros estilos según tus preferencias */
        }

        .div-imgpag {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .div-piepag {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5;
            padding-bottom: 5;
            margin: 5px; /* Todos los márgenes (izq, der, sup e inf = 5px*/
            background-color: rgb(237, 203, 237); /* Establece el color de fondo en magenta */
            color: rgb(21, 21, 233); /* Establece el color de texto en azul */
            height: 50px; /* Establece la altura de la div en 50 píxeles */

            /* height: 100vh; Opcional: centra verticalmente la imagen en toda la página */
        }    

    </style>

<!-- mt-5  
absolute  
texto-superpuesto  
width="900"

card mx-auto

-->

    <div class="container">
        <style> h3 {color:rgb(63, 163, 163);} </style>   
        <style> h4 {color:rgb(136, 29, 150);} </style> 
        

                <div class="div-imgpag"> <!-- mt-50  -->
                    <img src="/img/Fondo001.JPG" alt="Imagen con opacidad" class="imagen-con-opacidad" width="1200">
                </div>
        <div class="row">

            <div class="texto-superpuesto div-col">


                <div class="col-sm">
                    <p>
                        <h4>Modelarte</h4>
                        Lidera en América el innovador proyecto de "Trabajo mientras Aprendo".  
                        ​Por eso hemos integrado la Academia de manejo, la Tienda de Telares y el Centro de Proyectos, totalmente asistidos online y bajo nuestros esquemas didácticos auténticos de Modelarte.  
                    </p>
                    <br>
                </div>

                <div class="col-sm">
                    <p>
                        <h4>Las clases</h4>
                        Se pueden tomar por sesiones;
                        Para el Aprendiz Aficionado sólo basta con una sesión de manejo en donde se enseña el montaje y tejido sobre el telar.  Cada sesión incrementa el nivel de Dominio en el Telar. En la primera clase y el estudiante aprende completamente el uso de cada herramienta. En las subsiguientes clases el estudiante explora el amplio potencial de su herramienta en diversas técnicas disponibles .
                    </p>
                    <br>
                </div>

                <div class="col-sm">
                    <p>
                        <h4>Contacto</h4>
                        Diego Fernando Martínez Varela
                        Diseñador Industrial - Automatizador Industrial
                        <br>
                        General Manager
                        <br>
                    </p>
                </div>

            </div>

        </div>




    </div> 

<footer>
    <div class="div-piepag">
        Juan Carlos Martínez Varela - Derechos Reservados 2024
    </div>
</footer>

</main>