<header>
        <div class="card-header">   <!--SEO, optimización para motores de búsqueda (Search Engine Optimization)  rounded-circle   -->
            <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-sm" style="width: 150px; display:block;">     
            <h3 class="text-uppercase text-center p-4"></h3>
        </div>
</header>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase"> Crear Nuevo Producto</h3>
                </div>
                <div class="card-body">
                    <form action="/add" method="post" enctype="multipart/form-data">

                        <div class="input-group mt-2">
                            <label for="referencia" class="input-group-text"> Referencia Telar </label>
                            <input class="form-control" type="text" name="referencia" id="referencia" placeholder="Ejemplo: Asistido 60 cm 4 marcos" autofocus required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="tipotelar" class="input-group-text"> Tipo Telar </label>
                            <input class="form-control" type="text" name="tipotelar" id="tipotelar" placeholder="Ejemplo: Telares Especiales"  required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="precio" class="input-group-text"> Precio </label>
                            <!-- 
                            <input class="form-control" type="number" name="precio" id="precio" placeholder="0" required >
                            -->
                            <input class="form-control" type="text" name="precio" id="precio" onkeyup="format(this)" onchange="format(this)" placeholder="0" required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="descripcion" class="input-group-text"> Descripcion </label>
                            <input class="form-control" type="text" name="descripcion" id="descripcion" placeholder="Escriba una descripcion">
                        </div>

                        <div class="input-group mt-2">
                            <input class="form-control" type="file" name="file" id="file">
                        </div>

                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success"> Crear </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/formatos.js"></script>

<footer class="footer text-center" style="display: flex; justify-content: center; align-items: center; 
    padding-top: 5; padding-bottom: 5; margin: 5px;  background-color: rgb(237, 203, 237); 
    color: rgb(21, 21, 233); height: 50px;">
    <div class="container1">
        <p>Juan Carlos Martínez Varela - Derechos Reservados 2024</p>
    </div>
</footer>