<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>

<main class="principal"> <!-- mt-5 2 absolute  texto-superpuesto  -->
    <header>
            <div class="card-header">   <!--SEO, optimización para motores de búsqueda (Search Engine Optimization)  rounded-circle   -->
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-sm" style="width: 150px; display:block;">     
                <h3 class="text-uppercase text-center p-4">Eventos</h3>

            </div>
    </header>

    <div class="container">
        <style> h3 {color:rgb(63, 163, 163);} </style>   
        <style> h4 {color:rgb(136, 29, 150);} </style> 
        
                <div class="div-imgpag"> <!-- mt-50  -->
                    <img src="/img/Fondo004.JPG" alt="Imagen con opacidad" class="imagen-con-opacidad" width="1200">
                </div>
                
        <div class="row">

            <div class="texto-superpuesto div-col">

                <div class="col-sm">
                    <p>
                        <h4>Expo Artesanías - CORFERIAS</h4>
                        <img src="/img/ExpoArtesano.jpg" height="250">
                    </p>
                    <br>
                </div>

                <div class="col-sm">
                    <p>
                        <h4>Festival del Torbellino en Tabio</h4>
                        <img src="/img/TabioTorbellino.jpg" height="250">
                    </p>
                    <br>
                </div>

            </div>

        </div>

    </div> 

<footer>
    <div class="div-piepag">
        Juan Carlos Martínez Varela - Derechos Reservados 2024
    </div>
</footer>
</main>






