<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>

<main class="principal"> <!-- mt-5 2 absolute  texto-superpuesto  -->
    <header>
            <div class="card-header">   <!--SEO, optimización para motores de búsqueda (Search Engine Optimization)  rounded-circle   -->
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-sm" style="width: 150px; display:block;">     
                <h3 class="text-uppercase text-center p-4"></h3>
            </div>
    </header>

    <div class="container">
        <style> h3 {color:rgb(63, 163, 163);} </style>   
        <style> h4 {color:rgb(136, 29, 150);} </style> 
        
                <div class="div-imgpag"> <!-- mt-50  -->
                    <img src="/img/Fondo003.JPG" alt="Imagen con opacidad" class="imagen-con-opacidad" width="1200">
                </div>
                
        <div class="row">

            <div class="texto-superpuesto div-col">

                <div class="col-sm">
                    <p>
                        <h3>INFORMACIÓN DE LA INSCRIPCIÓN</h3>
                        <h4>Te ofrecemos dos tipos de inscripción:</h4>
                        Inscripción Tipo 1: Cliente comprador<br>
                        Inscripción Tipo 2: Clases de tejido<br>
                        Inscripción Tipo 3: Feria artesanal<br>
                    </p>
                    <br>
                </div>

                <div class="col-sm">
                    <p>
                        <h3>INSCRIPCIÓN</h3>
                        <h4>Datos de la inscripción:</h4>
                        Nombre:<br>
                        Email:<br>
                        Teléfono:<br>
                        Tipo inscripcion (1,2 o 3):<br>
                    </p>
                    <br>
                </div>

                <div class="col-sm">
                    <p>
                        <h3>PAGOS</h3>
                        <h4>Nuestros canales de pago son:</h4>
                        Cuenta Ahorros Davivienda<br>
                        Daviplata<br>
                        Nequi<br>
                        Pago PSE<br>
                    </p>
                </div>

            </div>

        </div>

    </div> 

<footer>
    <div class="div-piepag">
        Juan Carlos Martínez Varela - Derechos Reservados 2024
    </div>
</footer>

</main> <!-- --> <!-- text-justify -->

<!-- 
<main>
     <div class="container">
        <style> h3 {color:rgb(63, 163, 163);} </style>   
        <style> h4 {color:rgb(196, 78, 211);} </style> 
        <div class="card mx-auto" style="width:1500px;">
            <div class="card-header">   
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-sm" style="width: 150px; display:block;">     
                <h3 class="text-uppercase text-center p-4"></h3>
            </div>
                <div>
                    <h1 class="text-center">Inscripciones</h1>
                </div>
                <div class="card mx-auto" style="width:800px;">
                    <div class="card-body text-center"> 
                        <h2 class="text-center">Házte miembro.</h2>
                        <div class="card-body text-center">
                            INSCRIPCIÓN 1
                        </div> 
                                       
                        <div>
                            <br>
                            INSCRIPCIÓN 2
                        </div>
                    </div>
                </div>
        </div>
    </div>
</main>    
  -->




