<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>

<main class="principal"> <!-- mt-5 2 absolute  texto-superpuesto  -->
    <header>
            <div class="card-header">   <!--SEO, optimización para motores de búsqueda (Search Engine Optimization)  rounded-circle   -->
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-sm" style="width: 150px; display:block;">     
                <h3 class="text-uppercase text-center p-4"></h3>
            </div>
    </header>

    <div class="container">
        <style> h3 {color:rgb(63, 163, 163);} </style>   
        <style> h4 {color:rgb(136, 29, 150);} </style> 
        
                <div class="div-imgpag"> <!-- mt-50  -->
                    <img src="/img/Fondo002.JPG" alt="Imagen con opacidad" class="imagen-con-opacidad" width="1200">
                </div>
                
        <div class="row">

            <div class="texto-superpuesto div-col">

                <div class="col-sm">
                    <p>
                        <h2>Misión</h2>
                        <h4 class="text-center">Propuesta de Valor.</h4>
                            <b>Modelarte</b> es una empresa Líder en construcción y suministro de equipamiento moderno y confiable
                            en la industria del tejido, asocia la producción de telares manuales y mecatrónicos con la enseñanza de 
                            técnicas y procesos de tejido ofreciendo un conocimiento que está a la vanguardia en este campo. 
                    </p>
                </div>

                <div class="col-sm">
                    <p>
                        <h2>visión</h2>
                            Nos hemos venido posicionando en el mercado gracias a la innovación de nuestros equipos y queremos
                            que nuestra propuesta de negocio tanto en la comercialización de nuestros productos y servicios
                            de capacitación ofrezca oportunidades de negocios en mercados exclusivos dispuestos a promover productos laboriosos.  Los Telares <b>Modelarte</b> son precursores de tejidos artesanales con demanda comercial superior a los tejidos comunes.  Por esa razón es indispensable contar con la capacitación idónea, equipos modernos y elementos de apoyo para abrirse paso en el promisorio mundo de los tejidos.<br>
                            Los tejidos en Telar ofrecen una oportunidad de negocio para personas y familias sin requerimientos formales. Los telares de última generación hacen modelos de negocio asociativos con economía de escala dinámica, que genera una respuesta económica inmediata, sustentable y perdurable, pensando también en el beneficio de la población vacante y vulnerable. 
                    </p>
                </div>

                <div class="col-sm">
                    <p>
                        <h2>Un poco de historia</h2>
                        <b>Modelarte</b> es una empresa que lleva más de 25 años en el mercado atendiendo inicialmente al 
                        mercado de equipos y suministros en la industria del tejido, ha evolucionado de manera exitosa en
                        los telares mecatrónicos y con la creciente demanda de capacitación ha generado su academia de tejido.
                    </p>
                </div>

            </div>

        </div>

    </div> 

<footer>
    <div class="div-piepag">
        Juan Carlos Martínez Varela - Derechos Reservados 2024
    </div>
</footer>

</main>

<!-- 
<main>
     <div class="container">
        <style> h3 {color:rgb(63, 163, 163);} </style>   
        <style> h4 {color:rgb(196, 78, 211);} </style> 
        <div class="card mx-auto" style="width:1500px;">
            <div class="card-header">   
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-sm" style="width: 150px; display:block;">     
                <h3 class="text-uppercase text-center p-4"></h3>
            </div>

                <div>
                    <h1 class="text-center">Misión y visión</h1>
                </div>
                <div class="card mx-auto" style="width:800px;">
                    <div class="card-body text-center"> 
                        <h2 class="text-center">Propuesta de Valor.</h2>
                        <div class="card-body text-center">
                            Los tejidos en Telar ofrecen una oportunidad de negocio para personas y familias sin requerimientos formales. Los telares de última generación hacen modelos de negocio asociativos con economía de escala dinámica, que genera una respuesta económica inmediata, sustentable y perdurable.   Telares Modelarte es una empresa Líder que Asocia la Enseñanza de Conocimientos vanguardistas y el suministro de equipamiento moderno y confiable, en beneficio de la población vacante y vulnerable.
                        </div> 
            
                        <div>
                            <br>
                            Los telares ofrecen oportunidades de negocios en mercados exclusivos dispuestos a promover productos laboriosos.  Los Telares Modelarte son precursores de tejidos artesanales con demanda comercial superior a los tejidos comunes.  Por esa razón es indispensable contar con la capacitación idónea, equipos modernos y elementos de apoyo para abrirse paso en el promisorio mundo de los tejidos.
                        </div>
                    </div>
                </div>

        </div>

    </div>
</main>    
-->
