<main><!-- -->
     <div class="container">
        <style> h3 {color:rgb(63, 163, 163);} </style>   
        <style> h4 {color:rgb(196, 78, 211);} </style> 
        <div class="card mx-auto" style="width:1500px;">
            <div class="card-header">   
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-sm" style="width: 150px; display:block;">     
                <h3 class="text-uppercase text-center p-4"></h3>
            </div>

                <div>
                    <h1 class="text-center">Misión y visión</h1>
                </div>
                <div class="card mx-auto" style="width:800px;">
                    <div class="card-body text-center"> <!-- text-justify -->
                        <h2 class="text-center">Propuesta de Valor.</h2>
                        <div class="card-body text-center">
                            Los tejidos en Telar ofrecen una oportunidad de negocio para personas y familias sin requerimientos formales. Los telares de última generación hacen modelos de negocio asociativos con economía de escala dinámica, que genera una respuesta económica inmediata, sustentable y perdurable.   Telares Modelarte es una empresa Líder que Asocia la Enseñanza de Conocimientos vanguardistas y el suministro de equipamiento moderno y confiable, en beneficio de la población vacante y vulnerable.
                        </div> 
            
                        <div>
                            <br>
                            Los telares ofrecen oportunidades de negocios en mercados exclusivos dispuestos a promover productos laboriosos.  Los Telares Modelarte son precursores de tejidos artesanales con demanda comercial superior a los tejidos comunes.  Por esa razón es indispensable contar con la capacitación idónea, equipos modernos y elementos de apoyo para abrirse paso en el promisorio mundo de los tejidos.
                        </div>
                    </div>
                </div>

        </div>

    </div>
</main>